.meuNome { 
    font-size: 2em;
    font-family: sans-serif;
    color: #03045e;

}

.foto {
    width: 250px;
    border: 8px solid black;
    border-radius: 10%;
    left: 50%;
    
}
body {
    background-color: rgb(102,153,204);
    font-family: sans-serif;
    font-size: 20px;
}

.lista {
    
}

.buttom {
    color: #fff;
    background-color: #03045e;
    padding: 5px 15px 5px 15px;
    text-decoration: none;
    border-radius:  1%;
    margin: 10px;
    border: 1px solid white;
    
}
.buttom:hover {
    color: #03045e;
    background-color: white;
    border: 1px solid #03045e;
}

.principal {
    margin-left: 10%;
    margin-right: 20%;
    margin-top: 5%;
    text-align: left;

}

.lista {
    
    
}


.logogit {
  
}
