.meuNome { 
    font-size: 2em;
    font-family: sans-serif;
    color: #03045e;

}

.foto {
    width: 250px;
    border: 8px solid black;
    margin-right: auto;
    margin-right: auto;
    border-radius: 10%;
    
}
body {
    background-color: rgb(102,153,204);
    font-family: sans-serif;
    font-size: 20px;
}

.lista {
    
}

.buttom {
    color: #fff;
    background-color: #03045e;
    padding-block: 5px;
    text-decoration: none;
    border-radius: 10%;
    margin: 5px;
   
}

