.meuNome { font-size: 2em;
    font-family: sans-serif;

}

.foto {
    width: 250px;
    border: 8px solid black;
    margin-right: auto;
    margin-right: auto;
    
}
body {
    background-color: rgb(102,153,204);
    font-family: sans-serif;
    font-size: 20px;
}

.lista {
    
}
